@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i|Nunito:300,400,600,800&display=swap');
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.woff);
    src: url(../fonts/Roboto-Regular.woff2);
    src: url(../fonts/Roboto-Regular.eot);
    src: url(../fonts/Roboto-Regular.ttf);
}
body{
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	color: #808080;
	
	}
header{
	background-color: transparent;
	padding: 20px 0;
	position: absolute;
	width: 100%;
	z-index: 1000;
}

#home{
	background-size: cover;
	background-position: center;
	padding: 10% 0;
	color: #FFFFFF;
	position: relative;
}

#home h1{
	font-size: 60px;
	font-weight: 300;
}

#home h1 span{
	display: block;
	font-weight: 400;
}
#home p{
	font-size: 22;
}

#home .subtitulo{
	color: #fff;
}

.bg-home{
	background-image: url("../img/hero-home.jpg");
	height: 100vh;
}

.bg-contact-us{
	background-image: url("../img/hero-contact.jpeg");
	background-position: top;
	height: 60vh;
}




.btn-light{
	border-radius: 0;
	padding: 15px 40px;
}

.btn{
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
}

#stunning{
	text-align: center;
	padding: 50px 0;
	background-color: #F2F2F2;
	
}

.titulos{
	font-weight: 100;
	color: #222222;
	margin-bottom: 20px;
	font-size: 35px;
	text-align: center;
	
}

.subtitulos{
	color: #5E5E5E;
	font-weight: 20px;
	font-size: 13px;
	margin-bottom: 80px;	
	text-transform: lowercase;
	font-family: 'Crimson Text', serif;
	text-align: center;
}

#stunning h3{
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #5E5E5E;
}

.separador-fila{
	margin-bottom: 15px;
} 

#boton{
	text-align: center;
	color: #028626;
	
}

.btn-success{
	border-radius: 0;
	padding: 15px 40px;
	
}

.subtitulos2{
	color: #5E5E5E;
	font-weight: 20px;
	font-size: 13px;
	text-transform: lowercase;
	font-family: Baskerville, "Palatino Linotype";
	text-align:right;
	
	
	}

.subtitulos3{
	color: #5E5E5E;
	font-weight: 20px;
	font-size: 13px;	
	text-transform: lowercase;
	font-family: Baskerville, "Palatino Linotype";
	text-align:left;
	
	}
#buds h3{
	padding-top: 70px;

}

#buds{
	padding-top: 50px;
}

.section{
	padding: 80px 0;
}

#testimonials{
	background-color:#F2F2F2;
}


.testimonials-info{
	background-color:rgba(255,255,255,1.00);
	padding: 35px 25px ;
	text-align: center;
	margin-top: 40px;
	border-radius: 8px;
	border: 1px solid #ddd;
	border-bottom-left-radius: 0;
	
}

.testimonials-info p{
	margin-top: 50px;
	margin-bottom: 25px;
	font-size: 16px;
}

.testimonials-info h4{
	color:#222;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
}

.testimonials-info h5{
	color:#7575775;
	font-size: 14px;
	font-style: italic;
}

.bg-blue{
	background-color: rgba(0,140,255,1.00);
	color: #FFFFFF;
}
	
.bg-blue h5{
	color: #FFFFFF;
}
#testimonials article:nth-child(3) .testimonials-info{
	background-color: #000000;
	color: #FFFFFF;
}

#top{
	background-image: url("../img/bg-action.jpeg");
	background-size: cover;
	background-position: center;
	color: #FFFFFF;
	padding: 50px 0;
	position: relative;
}

#top::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.70);
	top: 0;
	z-index: 0;
}

#slides .tag{
	font-size: 16px;
	font-style: italic;
}

#slides .sub{
	font-size: 20px;
}

#slides h1{
	font-size: 60px;
	font-weight: 300;
	margin-bottom: 45px;
}

#slides .carousel-item img{
	height: 640px;
}

#slides .carousel-caption{
	top: 20%;
	width: 50%;
	margin: 0 auto;
}

.slide-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.55);
}

.work{
	position: relative;
	overflow: hidden;      <!--PARA OCULTAR IMAGEN-->
}

.work-fondo{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(40,209,162,0.75);
	opacity: 0;
	transition: all 0.4s ease-in;
	z-index: 10;
}

.work-texto{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	text-align: center;
	opacity: 0;
	transition: all 1s ease-in;
	z-index: 20;
}

.work-texto h5{
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 14px;
}

.work-texto h6{
	font-weight: 600;
	font-size: 14px;
}

.work:hover .work-fondo,
.work:hover .work-texto{
	opacity: 1;
}

.work-frame{
	position: absolute;
	top: 0;
	padding: 5px;
	width: 100%;
	height: 100%;
}

.work-bottom{
	position: absolute;
	width: 100%;
	background-color: #000;
	color: #fff;
	bottom: 0;
	text-align: center;
	padding: 5px 0;
}

.work:hover .work-bottom{
	background-color: #28D1A2;
}


.overlay{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.40);
	padding: 10% 0;
}

.work:hover img{
	transform: scale(1.5);
	transition: all 1s ease-in-out;
	filter: blur(0px);
}

.work img{
	transition:  all 1s ease-in-out;
	filter: blur(5px);
	filter: sepia(1);
}

h4{
	text-transform: uppercase;
	color: #404040;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 400;
}

.navbar-nav .fab{
	background-color: #28D1A2;
	border-radius: 100%;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
}

.navbar-nav .fab:hover{
	color: #000;
}




footer{
	background-color: #f2f2f2;
	color: #757575;
	text-align: center;
	padding: 40px 0;
}


